@model EventMS.Models.BookEvent

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BookEvent</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <tr>
                <td class="auto-style11"></td>
                <td class="auto-style12"><label for="EventId">EventId</label> </td>
                <td class="auto-style8"><input type="text" name="EventId" value="" /><br /></td>

            </tr>
            <tr>
                <td class="auto-style11"></td>
                <td class="auto-style12"><label for="EventName">EventName</label> </td>
                <td class="auto-style8"><input type="text" name="EventName" value="" /><br /></td>

            </tr>
            <tr>
                <td class="auto-style11"></td>
                <td class="auto-style12"><label for="EventType">EventType</label> </td>
                <td class="auto-style8"><input type="text" name="EventType" value="" /><br /></td>

            </tr>
            <tr>
                <td class="auto-style11"></td>
                <td class="auto-style12"><label for="Days">Days</label> </td>
                <td class="auto-style8"><input type="text" name="Days" value="" /><br /></td>

            </tr>
            <tr>
                <td class="auto-style11"></td>
                <td class="auto-style12"><label for="Date">Date</label> </td>
                <td class="auto-style8"><input type="text" name="Date" value="" /><br /></td>

            </tr>
            <tr>
                <td class="auto-style11"></td>
                <td class="auto-style12"><label for="StartTime">StartTime</label> </td>
                <td class="auto-style8"><input type="text" name="StartTime" value="" /><br /></td>

            </tr>
            <tr>
                <td class="auto-style11"></td>
                <td class="auto-style12"><label for="EndTime">EndTime</label> </td>
                <td class="auto-style8"><input type="text" name="EndTime" value="" /><br /></td>

            </tr>
            <tr>
                <td class="auto-style11"></td>
                <td class="auto-style12"><label for="PlaceAddress">PlaceAddress</label> </td>
                <td class="auto-style8"><input type="text" name="PlaceAddress" value="" /><br /></td>

            </tr>
            <tr>
                <td class="auto-style11"></td>
                <td class="auto-style12"><label for="ImagePath">ImagePath</label> </td>
                <td class="auto-style8"><input type="text" name="ImagePath" value="" /><br /></td>

            </tr>
            <tr>
                <td class="auto-style11"></td>
                <td class="auto-style12"><label for="People">People</label> </td>
                <td class="auto-style8"><input type="text" name="People" value="" /><br /></td>

            </tr>
            <tr>
                <td class="auto-style11"></td>
                <td class="auto-style12"><label for="EventStatus">EventStatus</label> </td>
                <td class="auto-style8"><input type="text" name="EventStatus" value="" /><br /></td>

            </tr>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

