
@{
    ViewBag.Title = "President";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <div class="homepage-next-events">
        <div class="container">
            <div class="row">
                <div class="next-events-section-header">
                    <h2 class="entry-title">President</h2>

                </div>
            </div>

        </div>
    </div>

</div>
<h2></h2>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("BookEvent", "BookEvent")" class="btn gradient-bg">Book Event</a>
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("Index", "Society")" class="btn gradient-bg">Societies Detail</a>
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a href="@Url.Action("SocietyRegistartion", "Society")" class="btn gradient-bg">Register Society</a>
    </div>
</div>

