@model EventMS.Models.PersonRegister

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="auto-style9">
           

            <tr>
                <td class="auto-style12"></td>
                <td class="auto-style13"> <label for="user type">User Name</label></td>
                <td class="auto-style11"> <input type="text" name="User Name" value="" /><br /></td>



            </tr>
            <tr>
                <td class="auto-style12"></td>
                <td class="auto-style13"><label for="name">Password</label></td>
                <td class="auto-style11"><input type="text" name="Password" value="" /><br /></td>

            </tr>

            <tr>
                <td></td>
                <td class="auto-style13">
                    <p>Remember me?<input type="checkbox" name="Remember me" value="" /></p>
                </td>
                <td></td>
            </tr>

            <tr>
                <td class="auto-style12"></td>
                <td class="auto-style13"></td>
                <td class="auto-style11">
                    <button type="button" style="background-color:white;border-color:blueviolet;color: blueviolet;padding: 10px 32px;text-align: center;text-decoration-color: blueviolet;display: inline-block; font-size: 15px; ">
                        LOGIN
                    </button>

                </td>

            </tr>
            <tr>
                <td></td>
                <td class="auto-style13">
                    <a href="Forgot Password.aspx">Forgot Password</a>
                </td>
            </tr>
        </table>
        
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


