
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="entry-header">

    <h1 class="entry-title">Upcoming Events</h1>

</header>
<div class="homepage-featured-events">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="featured-events-wrap flex flex-wrap justify-content-between">

                    <div class="event-content-wrap positioning-event-1">
                        <figure>
                            <a href="#"><img src="~/Content/Template/images/civcon.jpg" alt="civcon" /></a>
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">Civcon</h3>


                            <div class="posted-date">March</div>
                        </header>
                    </div>

                    <div class="event-content-wrap positioning-event-2">
                        <figure>
                            <a href="#"><img src="~/Content/Template/images/convo.jpg" alt="convovation" /></a>
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">Convocation</h3>

                            <div class="posted-date">November</div>
                        </header>
                    </div>

                    <div class="event-content-wrap positioning-event-3">
                        <figure>
                            <a href="#"><img src="~/Content/Template/images/satrangi.jpg" alt="satrangi" /></a>
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">Satrangi</h3>

                            <div class="posted-date">March</div>
                        </header>
                    </div>



                    <div class="event-content-wrap positioning-event-5 half">
                        <figure>
                            <a href="#"><img src="~/Content/Template/images/skylartern1.jpg" alt="skylantern" /></a>
                        </figure>
                        <header class="entry-header">
                            <h3 class="entry-title">Skylantern</h3>

                            <div class="posted-date">February</div>
                        </header>
                    </div>



                    <div class="event-content-wrap positioning-event-7">
                        <figure>
                            <a href="#"><img src="~/Content/Template/images/sports_event.jpg" alt="sports_event" /></a>
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">Sports_Events</h3>

                            <div class="posted-date">January</div>
                        </header>
                    </div>

                    <div class="event-content-wrap positioning-event-8">
                        <figure>
                            <a href="#"><img src="~/Content/Template/images/book mela 23 january.jpg" alt="book_mela" /></a>
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">Book Mela</h3>

                            <div class="posted-date">January</div>
                        </header>
                    </div>

                    <div class="event-content-wrap positioning-event-9">
                        <figure>
                            <a href="#">
                                <img src="~/Content/Template/images/Sham_e_.jpg"  alt="sham_e_Qalander" /></a>
                        </figure>

                        <header class="entry-header">
                            <h3 class="entry-title">sham_e_Qalander</h3>

                            <div class="posted-date">March</div>
                        </header>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
